@import "/src/var";

.flex-wrapper {
  width: 100%;
  min-height: 100vh;
  @include layout-flex(row, space-between);
  gap: 1rem;
}

@include tablet {
  .flex-wrapper {
    height: auto;
    @include layout-flex(column, space-between);
    gap: 1rem;
  }
}

@include mobile {
  .flex-wrapper {
    height: auto;
    @include layout-flex(column, space-between);
    gap: 1rem;
  }
}
